# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

## [Unreleased]

### Added

- Initial project structure
- Basic package setup with {{ project_slug }}
{%- if include_cli %}
- CLI interface with Typer
{%- endif %}
{%- if include_docs %}
- Documentation with MkDocs
{%- endif %}
{%- if include_github_actions %}
- GitHub Actions CI/CD pipelines
{%- endif %}
{%- if include_prek %}
- Prek hooks for code quality
{%- endif %}
